<div class="container__big-card" style="background-color: #EAEAEA; border: solid white 2px; color: black;">
    <div class="big-card__picture">
        <img src="{{ photoCover }}" 
        alt="Logo do Angular Framework"
        height="220px"
        
        srcset=""/>
    </div> 
    <div class="big-card__title">
        <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
    </div>
    <div class="big-card__description">
        <p><a [routerLink]="['content', Id]">
            {{ cardDescription }}
        </a>
        </p>
    </div>
</div>