<div class="container__small-card">

    <div class="container__small-card-content">
        
    </div>

    <div class="small-card__picture">
        <img src="https://img.freepik.com/free-vector/web-design-concept-with-flat-style_23-2147854683.jpg?t=st=1743816547~exp=1743820147~hmac=d166801170bbfe9e2e8de73d5021013e0e6001a5b36bdf47694a9ff8e1ccace0&w=740" 
        alt=""
        height="220px"
        
        srcset=""/>
    </div> 

    <div class="small-card__title">
        <h1><a href="#">Explorando os primeiros passos com HTML, CSS e a estrutura básica de uma página!</a></h1>
    </div>
    
</div>

<div class="container__small-card-separator">
    <hr>
</div>
